.quarto-title-block .quarto-title-banner {
  background-image: url(images/HSF_germany.png);
  background-size: 300px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 5px;
  background-origin: content-box;
}